* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  body {
    background-color: rgb(216, 230, 230);

    // SIDEBAR TOGGLE

    .sidebar-toggle {
      position: fixed;
      right: 30px;
      top: 30px;
      background: none;
      border: none;

      .fa-bars {
        height: 100%;
        color: rgb(40, 112, 153);
        font-size: 3rem;
        transition: all 0.5s;
        cursor: pointer;
      }

      .fa-bars-active {
        color: green;
        transform: rotate(-90deg);
      }
    }

    // SIDEBAR

    .sidebar-container {
      width: 0;
      height: 100vh;
      overflow: hidden;
      background-color: white;
      transition: all 0.5s;
      border-right: solid rgb(40, 112, 153) 2px;
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

      .sidebar-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        .logo-title-container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .logo {
            width: 50px;
          }

          .title {
            min-width: 319px;
            font-size: 2.5rem;
            letter-spacing: 3px;

            span {
              color: rgb(40, 112, 153);
            }
          }
        }

        .close-sidebarbtn {
          background: none;
          border: none;
          cursor: pointer;
          margin-right: 20px;

          .fa-times {
            color: rgb(134, 0, 0);
            font-size: 2.5rem;
            transition: all 0.2s;

            &:hover {
              color: rgb(197, 0, 0);
            }
          }
        }
      }
    }

    .sidebar-container-active {
      position: relative;
      width: 576px;
      z-index: 1;
    }
  }
}

@media screen and(max-width: 900px) {
  body {
    .sidebar-container-active {
      width: 100%;
    }
  }
}
